# Ignore all .deb files (like google-chrome-stable)
*.deb

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# text files 
*.txt

# Virtual environments
.env/
.venv/
env/
venv/
ENV/

# VSCode
.vscode/

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# json files inside folder data/processed/DE_newspapers_1920_45_processed/ 
data/processed/DE_newspapers_1920_45_processed/**/*.json

# Logs
*.log

# html files
*.html

# Other large or temp files
*.tar
*.gz
*.zip
*.bak
*.swp
*.tmp
